<h1>Book was successfully created.</h1>
<p>Find me in app/views/books/show.html.erb</p>


<% @book.each do |list| %>
  <p>タイトル</p>
  
<span><%= list.title %></span>

<span><%= list.body %></span>






<% end %>