<p>Book was successfully created.<p>

<table>
  <thead>
    <tr>
      <th>Titile:</th>
      <th><%= @book.title %></th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th>Body:</th>
      <th><%= @book.body %></th>
    </tr>
  </thead>
</table>







